<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <style>
        body {
            background-color: deepskyblue;
        }
    </style>
</head>
<body>
<h2 style="color:#181a49;text-align:center;">Best Weather for Liljeholmen</h2>
<form th:action="@{/bestweather}" method="get"></form>
<p><b>Temperature: </b><span th:text="${weather.temperature}"️></span> °C 🌡️</p>
<p><b>Humidity: </b><span th:text="${weather.humidity}"></span> 💦</p>
<p><b>Origin: </b><span th:text="${weather.origin}"></span></p>
<p><b>Time and date: </b><span th:text="${weather.timeStamp}">️</span> ⏱️</p>
<td>
    <span th:if="${weather.temperature <= 15}">Cold weather</span>
    <span th:unless="${weather.temperature <= 15}">Perfect weather</span>
</td>
</body>
</html>